<p id="notice"><%= notice %></p>

<h1>Listing Ordertransactions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordertransactions.each do |ordertransaction| %>
      <tr>
        <td><%= link_to 'Show', ordertransaction %></td>
        <td><%= link_to 'Edit', edit_ordertransaction_path(ordertransaction) %></td>
        <td><%= link_to 'Destroy', ordertransaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ordertransaction', new_ordertransaction_path %>
