<p id="notice"><%= notice %></p>

<p>
  <strong>Bumper cars:</strong>
  <%= @attraction.bumper_cars %>
</p>

<p>
  <strong>Arcade:</strong>
  <%= @attraction.arcade %>
</p>

<p>
  <strong>Himalaya:</strong>
  <%= @attraction.himalaya %>
</p>

<p>
  <strong>Carousel:</strong>
  <%= @attraction.carousel %>
</p>

<p>
  <strong>Ballocity:</strong>
  <%= @attraction.ballocity %>
</p>

<p>
  <strong>Lazer:</strong>
  <%= @attraction.lazer %>
</p>

<p>
  <strong>Runner:</strong>
  <%= @attraction.runner %>
</p>

<p>
  <strong>Soft play:</strong>
  <%= @attraction.soft_play %>
</p>

<p>
  <strong>Inflatabales:</strong>
  <%= @attraction.inflatabales %>
</p>

<%= link_to 'Edit', edit_attraction_path(@attraction) %> |
<%= link_to 'Back', attractions_path %>
